.contentContainer {
  width: 238;
  margin: 0 auto;
  padding: 5rem 7rem ;
  height: calc(100vh);

  img {
    width: 238.62px;
    height: 25.63px;
  }
  .containerPost {
    width: 700px;
    height: 108px;
    margin-top: 60px;
  }
}